@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Ephesis&display=swap');
body{
    margin :0;
}
header{
    display: flex;
    width: 100%;
    height: 27.8vh;
    min-height: 20.7vh;
    background-color: #892227;
    align-items: center;
    justify-content: space-around;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 29.12vh;
    min-height: 17.56vh;
}
.logo{
    width: 11vw;
    height: auto;
}
.container span {
    font-family: 'Ephesis';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2.80vw,3vw,3.47vw);
    line-height: 12.17vh;
    
    color: #F7EBE4;
}
.pesquisar{
    display: flex;
    align-items: center;
    width: 44vw;
    height: 8vh;
    min-height: 5.53vh;
    background: #FFFFFF;
    box-shadow: 0px 0.55vh 0.55vh rgba(87, 13, 18, 0.5);
    border-radius:  4.74vw;
}
.pesquisar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: 0;
    padding: 1.60vw 0.66vw;
    font-size: 1.33vw;
     font-family: 'Alef';
    font-style: normal;
    font-weight: 400;

}
.pesquisar button img{
    width: 2.47vw;
}
.pesquisar button{
    border: 0;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    margin-right: 0.66vw;
}
.botoes_topo{
    position : relative;
    top: 0.5vh;
    display: flex;
    width: 15.38vw;
    justify-content: space-around;
}
.botoes_topo img{
    width: 5.26vw;
    height:auto;
}
.botoes_topo span {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.93vw,1.05vw,1.33vw);
    line-height: 3.73vh;
    color: #FFFFFF;
}
.container_carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.container_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
}

.imagem_exemplo{
    width: 100%;
    height: 55.37vh;
    cursor: pointer;
}

section{
    background-color: #F7EBE4;
    height: auto;
}
.cartegorias{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.caixa:hover{
    background-color: #892227;
    transition: 0.5s;
}
.caixa span:hover{
    color: #FFFFFF;
    transition: 0.5s;
}
.caixa{
    display: grid;
    grid-template-columns: auto;
    width: 13.15vw;
    height: 9.36vh;
    background: #FFFFFF;
    border-radius: 2.3vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
.caixa span{
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.27vw,2.1vw,2.67vw);
    line-height: 7.46vh;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
}
.titulo span{
    width:  32.77vw;
    
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(3.74vw,3.3vw, 4.14vw);
    line-height: 11.61vh;
    text-align: center;
    color: #000000;
    
    text-shadow: 0px 0.26vw 0.26vw rgba(0, 0, 0, 0.15);
}
.linha{
    width: 21.1vw;
    height: 0;
    border: 0.13vw solid rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0.26vw 0.26vw rgba(0, 0, 0, 0.15);
    background-color: black;
}

.carrossel{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}
.container_produtos{
    display: flex;
    width: 16.52vw;
    height: 42.31vh;
    background: #FFFFFF;
    box-shadow: 0px 0.26vw 0.26vw rgb(0 0 0 / 25%);
    backdrop-filter: blur(0.26vw);
    border-radius: 2.74vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.img_produto {
    width: 10.05vw;
    height: 19.42vh;
}
.container_produtos span{
    font-family: 'Alef';
    font-style: normal;
    font-size: clamp(1.53vw,1.53vw,1.93vw);
    line-height:  5.39vh;
}
.preco{
    display: flex;
    width: 11.89vw;
}
.preco .valor{
    color: #6F2727;
    font-weight: 700;
    margin-left: 1vw;
    font-size: clamp(1.73vw,1.684vw,2.14vw);
}
.adicionar{
    width: 9.7vw;
    height: 5.9vh;
    background: #4BAE4F;
    box-shadow: 0 0.26vw 0.26vw rgba(0, 0, 0, 0.25);
    border-radius: 1.13vw;
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.53vw,1.53vw,1.93vw);
    line-height:  5.39vh;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.seta_direira{
    cursor: pointer;
    width: 2.5vw;
}
.seta_esquerda{
    cursor: pointer;
    width: 2.5vw;
}

.exemplo_premiado{
    width: 100%;
    height: 49vh;
    margin-top: 16.3vh;
    cursor: pointer;
}

footer{
    background: #892227;
    width: 100%;
    height: 36.09vh;
}

.informacoes{
    display: flex;
    width: 77.8vw;
    height: 12.10vh;
    flex-direction: row;
    padding-top: 3.45vw;
    justify-content: space-around;
}
.informacoes img{
    width: 2.4vw;
}
.informacoes h1{
    height: 4.01vh;
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 4.56vh;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5.68vw;
}

.informacoes h2{
    width: 19.96vw;
    height: 4.01vh;
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 4.56vh;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0px;

}
.informacoes span{
    font-family: 'Alef';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 3.73vh;
    color: #FFFFFF;
}
.instagram{
    display: flex;
    align-items: center;
    width: 20.20vw;
    justify-content: space-around;
}
.facebook{
    display: flex;
    align-items: center;
    width: 19.39vw;
    justify-content: space-around;
}
.informacoes .facebook_img{
    width: 1.5vw;
}
.whatsapp{
    display: flex;
    align-items: center;
    width: 15.38vw;
    justify-content: space-around;
}
.espaço_texto_redes{
    display: flex;
    flex-direction: column;
    height: 24.89vh;
    justify-content: space-evenly;
}

.espaço_texto{
    display: flex;
    flex-direction: column;
    height: 24.89vh;
    justify-content: space-between;
}
.imagem-whats{
    margin-left: 0.5vw;
    padding-right: 1vw;
}
.insta-texto{
    margin-right: 0.7vw;
}
@media only screen and (max-width: 908px) {
    .whatsapp{
        width: 17.38vw;
    }
    .imagem-whats{
        margin-left: 0.5vw;
        padding-right: 0vw;
        position: relative;
        right: 1vw;
    }
}
@media (max-width: 765px){
  header{
    height: 23.8vh;
  }
    .pesquisar{
    min-height: 2.53vh;
    width: 42vw;
   }
    .caixa {
        display: grid;
        grid-template-columns: auto;
        width: 21.15vw;
        height: 6.36vh;
    }
    .caixa span{
        font-size: clamp(3.27vw,2.1vw,2.67vw)
    }
    .titulo span {
      font-size: clamp(4.74vw,3.3vw, 4.14vw);
    }
    .linha{
        width: 30.1vw;
    }
    .exemplo_premiado{
        height: 25vh;
    }
    .container_produtos {
        display: flex;
        width: 20.52vw;
        height: 21.31vh;
    }
    .adicionar {
        width: 9.7vw;
        height: 5.9vh;
        font-size: clamp(1.53vw,1.53vw,1.93vw);
        line-height: 2.39vh;
        margin-bottom: 1vh;
    }
    .cartegorias{
        margin-bottom: 0vh;
    }
    .titulo{
        margin-bottom: 0vh;
        margin-top: 0vh;
    }
    .container_produtos span {
        font-size: clamp(2.2vw,1.53vw,1.93vw);
    }

    footer{
        height: 85.09vh;
    }
    .informacoes{
        display: flex;
        width: 64vw;
        height: 12.1vh;
        flex-direction: column;
        padding-top: 3.45vw;
        align-items: center;
        justify-content: flex-start;
    }
    .informacoes h1{        
    width: 50vw;
    font-size: 1.5rem;
    }
    .informacoes h2{
        width: 44vw;
        font-size: 1.5rem;
        padding-top: 5vh;
    }
    .informacoes span{
        font-size: 1rem;
        padding-top: 1vh;
        width: 42vw;
    }
    .facebook{
        width: 30.39vw;
    }
    .whatsapp{
        width: 40.38vw;
        margin-left: -10vw;
    }
    .instagram{
        width: 32.2vw;
    }
    .instagram_img{
        margin-right: 4vw;
    }
    
    .informacoes img{
        width: 6.4vw;
    }
    .imagem-whats{
        padding-right: 4vw;
    }
   .informacoes .facebook_img{
    width: 4.5vw;
    padding-right: 5vw;
    }
    .espaço_texto_redes{
    margin-left: 15vw;
    }



    .logo {
        width: 17vw;
        position: relative;
        right: 1vw;
    
    }

    .pesquisar {
        display: flex;
        align-items: center;
        width: 44vw;
        height: 4vh;
        margin-right: 8vw;
    }
    .botoes_topo{
        right: 4vw;
    }
    .container span{
        font-size: 2rem;
        width: 69vw;
    }
    .botoes_topo img {
        width: 14.26vw;
    }
    .botoes_topo span {
        font-size: 0.7rem;
    }

    .imagem_exemplo {
        height: 20.37vh;
    }
    .container{
        width: 52vw;
    }
}